.bakerItemsContainer {
  max-width: 1060px;
  margin: 0 auto;
  position: relative;
  padding: 10px 0px 0px 0px;

  .flexContainer {
    display: flex;

    .amountBifurcation {
      @media (max-width: 480px) {
        display: none;
      }
    }
    .bakerItemsOuter {
      flex-grow: 1;
      .bakerItems {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 35px;
        padding: 0px 20px 100px 20px;

        h2 {
          text-align: center;
          text-decoration: underline;
        }
        .bakerItem {
          border: 1px solid #f5f5f5;
          background: #f5f5f5;
          position: relative;
          border-radius: 10px;
          box-shadow: 0 0 10px -6px #000000;
          margin: 0px 0px 40px 0px;
          @media (max-width: 480px) {
            margin: 0px 25px 40px 25px;
          }

          .itemImage {
            height: 250px;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            object-fit: cover;
            width: 100%;
          }
          .itemDescription {
            font-size: 18px;
            font-weight: bold;
            text-align: center;
          }
          .priceContainer {
            text-align: center;
            margin: 12px 0px 20px 0px;
            .price {
              font-size: 28px;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
